.section {
  min-height: calc(100vh - 69px);
}
.form {
  width: 300px;
  margin: 0 auto;
  background: #fdd700;
  padding: 20px 10px;
}
.label {
  display: block;

  position: relative;
}
.label:not(:last-child) {
  margin: 0 0 20px 0;
}
.label span {
  display: block;
  margin: 0 0 4px 0;
}
.label input {
  padding: 10px 14px;
  font-size: 16px;
  width: 280px;
  border: none;
}
.label input:focus {
  box-shadow: inset 0px 0px 0px 2px #87ceeb;
}
.textarea {
  width: 280px;
  min-height: 160px;
  resize: vertical;
  padding: 10px 14px;
  font-size: 16px;
  border: none;
}
.textarea:focus {
  box-shadow: inset 0px 0px 0px 2px #87ceeb;
}

/* .button {
  display: block;
  cursor: pointer;
  background: #61ac3e;
  padding: 20px 40px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(62, 62, 79, 0.23);
  margin: 0 auto;
}
.button:focus,
.button:hover {
  transition: 0.2s;
  background: #56ab2f;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
} */

.button {
  transform: translate(0);
  background: linear-gradient(90deg, #03a9fa, #f441a5, #ffeb4b, #03a9fa 95%);
  background-size: 400%;
  border-radius: 30px;

  display: block;
  cursor: pointer;
  padding: 20px 40px;
  font-size: 18px;
  color: #fff;
  border: none;
  margin: 0 auto;

  position: relative;
}
.button:hover {
  animation: magic 8s linear infinite;
}
@keyframes magic {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.button::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9fa, #f441a5, #ffeb4b, #03a9fa 95%);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5s;
}
.button:hover::before {
  filter: blur(20px);
  opacity: 1;
  animation: magic 8s linear infinite;
}

.error {
  position: absolute;
  bottom: -22px;
  left: 0;
  color: red;
}
